@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footer {
  @include flex(row, center, center, 0);
  background-color: $primary;
  padding: $spacing-md $spacing-xl;
  margin-top: auto;

  .text {
    color: white;
    font-size: 14px;
  }
}