@use "../../../../src/styles/variables" as *;
@use "../../../../src/styles/mixins" as *;

.empty {
  text-align: center;
  color: $text-gray;
  font-size: 16px;
  margin-top: $spacing-xl;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-md;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-lg;
  }

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}

.empty {
  text-align: center;
  color: $text-gray;
  font-size: 16px;
  margin-top: $spacing-xl;
  grid-column: 1 / -1; 
}